<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.system.serve.mapper.student.UserMapper">
    <select id="queryUser" resultType="edu.system.serve.pojo.student.User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <update id="addAvatar">
        update user set avatar = #{imgUrl} where username = #{username}
    </update>
</mapper>