<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.system.serve.mapper.manager.ManagerUserMapper">
    <select id="queryUser" resultType="edu.system.serve.pojo.student.User">
        select * from super_user where username = #{username} and password = #{password}
    </select>
    <update id="addAvatar">
        update super_user set avatar = #{imgUrl} where username = #{username}
    </update>
    <update id="updatePassword">
        update super_user set password = #{password} where username = #{username}
    </update>
    <select id="queryStudent" resultType="edu.system.serve.pojo.student.User">
        select username, name from user limit #{linmitNum}
    </select>
    <select id="queryAllStudent" resultType="edu.system.serve.pojo.student.User">
        select username, name from user
    </select>
    <select id="queryTeacher" resultType="edu.system.serve.pojo.student.User">
        select username, name from teacher_user limit #{limitNum}
    </select>
    <select id="queryAllTeacher" resultType="edu.system.serve.pojo.student.User">
        select username, name from teacher_user
    </select>
    <select id="queryManager" resultType="edu.system.serve.pojo.student.User">
        select username, name from super_user limit #{limitNum}
    </select>
    <select id="queryAllManager" resultType="edu.system.serve.pojo.student.User">
        select username, name from super_user
    </select>
</mapper>